
#m_lblSequencer, #m_lblPatternEditor, #m_lblInstruments, #m_lblSongs {
	background: #f02820;
	border-style: solid;
	border-width: 1px;
	border-color: #202830;
	
	padding: 4px;
	font: 10px;
}

QWidget  {			
	background: #202830;
	color: white;
}

QDockWidget {
	background: #202830;
}

QDockWidget::title {
	background: #f02820;
						 
	padding: 4px;
}

QFrame {
	background: #202830;
}

QScrollArea {
	background: #202830;
}

QToolbar {
	background: #202830;
}

QLabel {
	background: transparent;
}

QAbstractScrollArea {
	background: #202830;
						 
	border-style: solid;
	border-width: 1px;
	border-color: #505860;
	color: white;
	font: bold 10px;
}


QGraphicsView {
	background-color: #283038;
	color: white;
}

QGroupBox {
	background: #404850;

	border-style: solid;
	border-right-color: #202830;
	border-bottom-color: #202830;
	border-top-color: transparent;
	border-left-color: transparent;
	border-width: 2px;
	border-radius: 5px;
}

QCheckBox {
	background: transparent;
}

QCheckBox::indicator {
	background: #606870;

	border-style: solid;
	border-width: 1px;
	border-color: #202830;
}

QCheckBox::indicator:unchecked:hover {
     background: #808890;
 }

 QCheckBox::indicator:checked {
     background: #9098a0;
 }


QPushButton {
	background: #606870;

	border-style: solid;
	border-width: 1px;
	border-color: #202830;
	
	min-width: 40px;
	
	color: white;
	font: bold 10px;
	padding: 4px;
	margin: 1px;
}

QPushButton:hover {
	background: #808890;
}

QPushButton:pressed {
	background: #101820;
}

QPushButton:checked {
	background: #9098a0;
}

QPushButton:disabled {
	color: #808890;
}

QToolButton {
	background: #808890;

	border-style: solid;
	border-width: 1px;
	border-color: #202830;

	color: white;
	font: bold 10px;
	padding: 0px;
	margin: 0px;
}

QToolButton:hover {
	background: #a0a8b0;
}

QToolButton:checked {
	background: #101820;
}

QLabel {
	color: white;
	margin-left: 3px;
}

QComboBox {
	background: #606870;

	border-style: solid;
	border-width: 1px;
	border-color: #202830;

	color: white;
	font: bold 10px;
	padding: 2px;
	margin-left: 2px;
	margin-top: 2px;
}

QComboBox:hover {
	background: #808890;
}

QComboBox::drop-down {
	subcontrol-origin: padding;
	subcontrol-position: top right;
	width: 15px;

	border-left-width: 1px;
	border-left-color: darkgray;
	border-left-style: solid; /* just a single line */
}



QDoubleSpinBox {
	background: #101820;
						 
	border-style: solid;
	border-width: 2px;
	border-top-color: #101820;
	border-left-color: #101820;
	border-right-color: transparent;
	border-bottom-color: transparent;
	
	color: white;
	font: bold 10px;
	padding: 2px;
}

QDoubleSpinBox::up-button {
	subcontrol-origin: border;
	subcontrol-position: top right; /* position at the top right corner */
	background: #606870;

	border-style: solid;
	border-width: 1px;
	border-color: #202830;
	width: 16px; 
}

QDoubleSpinBox::up-button:hover {
	background: #808890;
}

QDoubleSpinBox::down-button {
	subcontrol-origin: border;
	subcontrol-position: bottom right; /* position at the top right corner */
	background: #606870;

	border-style: solid;
	border-width: 1px;
	border-color: #202830;
	width: 16px; 
}

QDoubleSpinBox::down-button:hover {
	background: #808890;
}

QSpinBox {
	background: #101820;
						 
	border-style: solid;
	border-width: 2px;
	border-top-color: #101820;
	border-left-color: #101820;
	border-right-color: transparent;
	border-bottom-color: transparent;
	
	color: white;
	font: bold 10px;
	padding: 2px;
}

QSpinBox::up-button {
	subcontrol-origin: border;
	subcontrol-position: top right; /* position at the top right corner */
	background: #606870;

	border-style: solid;
	border-width: 1px;
	border-color: #202830;
	width: 16px; 
}

QSpinBox::up-button:hover {
	background: #808890;
}

QSpinBox::down-button {
	subcontrol-origin: border;
	subcontrol-position: bottom right; /* position at the top right corner */
	background: #606870;

	border-style: solid;
	border-width: 1px;
	border-color: #202830;
	width: 16px; 
}

QSpinBox::down-button:hover {
	background: #808890;
}

QLineEdit {
	background: #101820;
						 
	border-style: solid;
	border-width: 2px;
	border-top-color: #101820;
	border-left-color: #101820;
	border-right-color: transparent;
	border-bottom-color: transparent;
	color: white;
	font: bold 10px;
	padding: 2px;
}

QTextEdit {
	background: #101820;
						 
	border-style: solid;
	border-width: 2px;
	border-top-color: #101820;
	border-left-color: #101820;
	border-right-color: transparent;
	border-bottom-color: transparent;
	color: white;
	font: 14px;
	padding: 2px;
}

QTabWidget::pane { /* The tab widget frame */
    border-top: 2px solid #C2C7CB;
}

QTabBar::tab {
	background: #606870;

	border-style: solid;
	border-width: 1px;
	border-color: #202830;
	
	padding: 4px;
	font: 10px;
}

QTabBar::tab:selected, QTabBar::tab:hover {
	background: #808890;
}

QTableView {
	selection-background-color: #606870;
						 
	background: #101820;
	
	gridline-color: #606870;					 
	border-style: solid;
	border-width: 1px;
	border-color: #202830;
}

QHeaderView::section {
	background: #606870;

	border-style: solid;
	border-width: 1px;
	border-color: #202830;
	padding: 4px;
}

QTableView QTableCornerButton::section {
     background: #606870;

	border-style: solid;
	border-width: 1px;
	border-color: #202830;
 }

QMenuBar {
     background-color: #303840;
 }

QMenuBar::item {
	spacing: 6px; /* spacing between menu bar items */
	padding: 6px 6px;
	background: transparent;
}

QMenuBar::item:selected { /* when selected using mouse or keyboard */
	background: #a8a8a8;
}

QMenuBar::item:pressed {
	background: #888888;
}

QMenu::item:selected { 
    background: #9098a0;
}


						 
QScrollBar::sub-page {
	background: #101820;
}

QScrollBar::add-page {
	background: #101820;
}
 
QScrollBar::handle {
	background: #606870;

	border-style: solid;
	border-width: 1px;
	border-color: #202830;
}
 
QScrollBar::handle:hover {
	background: #808890;

	border-style: solid;
	border-width: 1px;
	border-color: #202830;
}

QSlider::groove:vertical {
	background: black;
	position: absolute; 
	left: 9px; right: 9px;
	border-style: solid;
	border-width: 1px;
	border-color: #707880;
}

QSlider::handle:vertical {
	height: 10px;
	margin: 0 -2px; /* expand outside the groove */
	
	background: #707880;

	border-style: solid;
	border-width: 1px;
	border-color: #202830;
}



